[submodule "apps/backend"]
  path = apps/backend
  url = https://github.com/armstrca/agenda_backend.git

[submodule "apps/go_backend"]
  path = apps/go_backend
  url = https://github.com/armstrca/agenda_go_backend.git
