<div class="planner-container">
	<div class="month-name"></div>
	<div class="header-footer">
		<div class="w-l-day-section" style="top: 90px;">
			<div class="day-inner-block">
				<div class="day-number-circle">
					<div class="day-number"></div>
				</div>
				<div class="day-name"></div>
				<div class="holiday-box"></div>
				<div class="moon-phase" title="Full Moon"></div>
			</div>
			<div class="textarea-container"><img class="divider-container" alt="weekly left divider line"
					src="https://c.animaapp.com/eFfbxFd7/img/w-l-divider-line-5.svg">
				<div class="textarea-bg"><img class="w-l-input-line-4" alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-3"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-2"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-1"
						alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg">
					<div class="wl-textarea">
					</div>
				</div>
			</div>
		</div>
		<div class="w-l-day-section" style="top: 300px;">
			<div class="day-inner-block">
				<div class="day-number-circle">
					<div class="day-number">25</div>
				</div>
				<div class="day-name">Thursday</div>
				<div class="holiday-box">Christmas</div>
				<div class="moon-phase">🌖</div>
			</div>
			<div class="textarea-container"><img class="divider-container" alt="weekly left divider line"
					src="https://c.animaapp.com/eFfbxFd7/img/w-l-divider-line-5.svg">
				<div class="textarea-bg"><img class="w-l-input-line-4" alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-3"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-2"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-1"
						alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg">
					<div class="wl-textarea">
					</div>
				</div>
			</div>
		</div>
		<div class="w-l-day-section" style="top: 510px;">
			<div class="day-inner-block">
				<div class="day-number-circle">
					<div class="day-number"></div>
				</div>
				<div class="day-name"></div>
				<div class="holiday-box"></div>
				<div class="moon-phase"></div>
			</div>
			<div class="textarea-container"><img class="divider-container" alt="weekly left divider line"
					src="https://c.animaapp.com/eFfbxFd7/img/w-l-divider-line-5.svg">
				<div class="textarea-bg"><img class="w-l-input-line-4" alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-3"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-2"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-1"
						alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg">
					<div class="wl-textarea">
					</div>
				</div>
			</div>
		</div>
		<div class="w-l-day-section" style="top: 720px;">
			<div class="day-inner-block">
				<div class="day-number-circle">
					<div class="day-number"></div>
				</div>
				<div class="day-name"></div>
				<div class="holiday-box"></div>
				<div class="moon-phase"></div>
			</div>
			<div class="textarea-container"><img class="divider-container" alt="weekly left divider line"
					src="https://c.animaapp.com/eFfbxFd7/img/w-l-divider-line-5.svg">
				<div class="textarea-bg"><img class="w-l-input-line-4" alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-3"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-2"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-1"
						alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg">
					<div class="wl-textarea">
					</div>
				</div>
			</div>
		</div>
		<div class="w-l-day-section" style="top: 930px;">
			<div class="day-inner-block">
				<div class="day-number-circle">
					<div class="day-number"></div>
				</div>
				<div class="day-name"></div>
				<div class="holiday-box"></div>
				<div class="moon-phase"></div>
			</div>
			<div class="textarea-container"><img class="divider-container" alt="weekly left divider line"
					src="https://c.animaapp.com/eFfbxFd7/img/w-l-divider-line-5.svg">
				<div class="textarea-bg"><img class="w-l-input-line-4" alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-3"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-2"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-1"
						alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg">
					<div class="wl-textarea">
					</div>
				</div>
			</div>
		</div>
		<div class="w-l-day-section" style="top: 1140px;">
			<div class="day-inner-block">
				<div class="day-number-circle">
					<div class="day-number"></div>
				</div>
				<div class="day-name"></div>
				<div class="holiday-box"></div>
				<div class="moon-phase"></div>
			</div>
			<div class="textarea-container">
				<div class="textarea-bg"><img class="w-l-input-line-5" alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-4"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-3"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-2"
						alt="weekly left input line"
						src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg"><img class="w-l-input-line-1"
						alt="weekly left input line" src="https://c.animaapp.com/eFfbxFd7/img/w-l-input-line-28.svg">
					<div class="wl-textarea">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>