<div class="planner-container">
    <div class="month-name"></div>
    <div class="header-footer">
        <div class="overlap">
            <div class="overlap-group">
                <div class="wr-dividers">
                    <div class="div">
                        <div class="overlap-group-2">
                        </div>
                    </div>
                </div>
                <div class="wr-text-boxes">
                    <div class="overlap-2">
                        <div class="wr-right-tiptap"></div>
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group-3">
                                <div class="wr-dashed-tiptap"></div>
                            </div>
                        </div>
                    </div>
                    <div class="wr-left-tiptap"></div>
                    <div class="wr-left-tiptap-2"></div>
                    <div class="wr-left-tiptap-top"></div>
                </div>
                <div class="weekly-right">
                    <div class="wr-cal-container">
                        <div class="wr-cal-right">
                            <div class="week-one">
                                <div class="calendar-day" style="left: 0px">
                                    <button class="wr-calendar-button" id="1"></button>
                                </div>
                                <div class="calendar-day" style="left: 25.40px">
                                    <button class="wr-calendar-button" id="2"></button>
                                </div>
                                <div class="calendar-day" style="left: 50.81px">
                                    <button class="wr-calendar-button" id="3"></button>
                                </div>
                                <div class="calendar-day" style="left: 76.21px">
                                    <button class="wr-calendar-button" id="4"></button>
                                </div>
                                <div class="calendar-day" style="left: 101.62px">
                                    <button class="wr-calendar-button" id="5"></button>
                                </div>
                                <div class="calendar-day" style="left: 127.02px">
                                    <button class="wr-calendar-button" id="6"></button>
                                </div>
                                <div class="calendar-day" style="left: 152.43px">
                                    <button class="wr-calendar-button" id="7"></button>
                                </div>
                            </div>
                            <div class="week-two">
                                <div class="calendar-day" style="left: 0px">
                                    <button class="wr-calendar-button" id="8"></button>
                                </div>
                                <div class="calendar-day" style="left: 25.40px">
                                    <button class="wr-calendar-button" id="9"></button>
                                </div>
                                <div class="calendar-day" style="left: 50.81px">
                                    <button class="wr-calendar-button" id="10"></button>
                                </div>
                                <div class="calendar-day" style="left: 76.21px">
                                    <button class="wr-calendar-button" id="11"></button>
                                </div>
                                <div class="calendar-day" style="left: 101.62px">
                                    <button class="wr-calendar-button" id="12"></button>
                                </div>
                                <div class="calendar-day" style="left: 127.02px">
                                    <button class="wr-calendar-button" id="13"></button>
                                </div>
                                <div class="calendar-day" style="left: 152.43px">
                                    <button class="wr-calendar-button" id="14"></button>
                                </div>
                            </div>
                            <div class="week-three">
                                <div class="calendar-day" style="left: 0px">
                                    <button class="wr-calendar-button" id="15"></button>
                                </div>
                                <div class="calendar-day" style="left: 25.40px">
                                    <button class="wr-calendar-button" id="16"></button>
                                </div>
                                <div class="calendar-day" style="left: 50.81px">
                                    <button class="wr-calendar-button" id="17"></button>
                                </div>
                                <div class="calendar-day" style="left: 76.21px">
                                    <button class="wr-calendar-button" id="18"></button>
                                </div>
                                <div class="calendar-day" style="left: 101.62px">
                                    <button class="wr-calendar-button" id="19"></button>
                                </div>
                                <div class="calendar-day" style="left: 127.02px">
                                    <button class="wr-calendar-button" id="20"></button>
                                </div>
                                <div class="calendar-day" style="left: 152.43px">
                                    <button class="wr-calendar-button" id="21"></button>
                                </div>
                            </div>
                            <div class="week-four">
                                <div class="calendar-day" style="left: 0px">
                                    <button class="wr-calendar-button" id="22"></button>
                                </div>
                                <div class="calendar-day" style="left: 25.40px">
                                    <button class="wr-calendar-button" id="23"></button>
                                </div>
                                <div class="calendar-day" style="left: 50.81px">
                                    <button class="wr-calendar-button" id="24"></button>
                                </div>
                                <div class="calendar-day" style="left: 76.21px">
                                    <button class="wr-calendar-button" id="25"></button>
                                </div>
                                <div class="calendar-day" style="left: 101.62px">
                                    <button class="wr-calendar-button" id="26"></button>
                                </div>
                                <div class="calendar-day" style="left: 127.02px">
                                    <button class="wr-calendar-button" id="27"></button>
                                </div>
                                <div class="calendar-day" style="left: 152.43px">
                                    <button class="wr-calendar-button" id="28"></button>
                                </div>
                            </div>
                            <div class="week-five">
                                <div class="calendar-day" style="left: 0px">
                                    <button class="wr-calendar-button" id="29"></button>
                                </div>
                                <div class="calendar-day" style="left: 25.40px">
                                    <button class="wr-calendar-button" id="30"></button>
                                </div>
                                <div class="calendar-day" style="left: 50.81px">
                                    <button class="wr-calendar-button" id="31"></button>
                                </div>
                                <div class="calendar-day" style="left: 76.21px">
                                    <button class="wr-calendar-button" id="32"></button>
                                </div>
                                <div class="calendar-day" style="left: 101.62px">
                                    <button class="wr-calendar-button" id="33"></button>
                                </div>
                                <div class="calendar-day" style="left: 127.02px">
                                    <button class="wr-calendar-button" id="34"></button>
                                </div>
                                <div class="calendar-day" style="left: 152.43px">
                                    <button class="wr-calendar-button" id="35"></button>
                                </div>
                            </div>
                            <div class="week-header">
                                <div class="week-days" style="left: 0px">M
                                </div>
                                <div class="week-days" style="left: 25.40px">T
                                </div>
                                <div class="week-days" style="left: 50.81px">W
                                </div>
                                <div class="week-days" style="left: 76.21px">T
                                </div>
                                <div class="week-days" style="left: 101.62px">F
                                </div>
                                <div class="week-days" style="left: 127.02px">S
                                </div>
                                <div class="week-days" style="left: 152.43px">S
                                </div>
                            </div>
                            <div class="month-year"></div>
                        </div>
                        <div class="wr-cal-left">
                            <div class="week-one">
                                <div class="calendar-day" style="left: 0px">
                                    <button class="wr-calendar-button" id="1"></button>
                                </div>
                                <div class="calendar-day" style="left: 25.40px">
                                    <button class="wr-calendar-button" id="2"></button>
                                </div>
                                <div class="calendar-day" style="left: 50.81px">
                                    <button class="wr-calendar-button" id="3"></button>
                                </div>
                                <div class="calendar-day" style="left: 76.21px">
                                    <button class="wr-calendar-button" id="4"></button>
                                </div>
                                <div class="calendar-day" style="left: 101.62px">
                                    <button class="wr-calendar-button" id="5"></button>
                                </div>
                                <div class="calendar-day" style="left: 127.02px">
                                    <button class="wr-calendar-button" id="6"></button>
                                </div>
                                <div class="calendar-day" style="left: 152.43px">
                                    <button class="wr-calendar-button" id="7"></button>
                                </div>
                            </div>
                            <div class="week-two">
                                <div class="calendar-day" style="left: 0px">
                                    <button class="wr-calendar-button" id="8"></button>
                                </div>
                                <div class="calendar-day" style="left: 25.40px">
                                    <button class="wr-calendar-button" id="9"></button>
                                </div>
                                <div class="calendar-day" style="left: 50.81px">
                                    <button class="wr-calendar-button" id="10"></button>
                                </div>
                                <div class="calendar-day" style="left: 76.21px">
                                    <button class="wr-calendar-button" id="11"></button>
                                </div>
                                <div class="calendar-day" style="left: 101.62px">
                                    <button class="wr-calendar-button" id="12"></button>
                                </div>
                                <div class="calendar-day" style="left: 127.02px">
                                    <button class="wr-calendar-button" id="13"></button>
                                </div>
                                <div class="calendar-day" style="left: 152.43px">
                                    <button class="wr-calendar-button" id="14"></button>
                                </div>
                            </div>
                            <div class="week-three">
                                <div class="calendar-day" style="left: 0px">
                                    <button class="wr-calendar-button" id="15"></button>
                                </div>
                                <div class="calendar-day" style="left: 25.40px">
                                    <button class="wr-calendar-button" id="16"></button>
                                </div>
                                <div class="calendar-day" style="left: 50.81px">
                                    <button class="wr-calendar-button" id="17"></button>
                                </div>
                                <div class="calendar-day" style="left: 76.21px">
                                    <button class="wr-calendar-button" id="18"></button>
                                </div>
                                <div class="calendar-day" style="left: 101.62px">
                                    <button class="wr-calendar-button" id="19"></button>
                                </div>
                                <div class="calendar-day" style="left: 127.02px">
                                    <button class="wr-calendar-button" id="20"></button>
                                </div>
                                <div class="calendar-day" style="left: 152.43px">
                                    <button class="wr-calendar-button" id="21"></button>
                                </div>
                            </div>
                            <div class="week-four">
                                <div class="calendar-day" style="left: 0px">
                                    <button class="wr-calendar-button" id="22"></button>
                                </div>
                                <div class="calendar-day" style="left: 25.40px">
                                    <button class="wr-calendar-button" id="23"></button>
                                </div>
                                <div class="calendar-day" style="left: 50.81px">
                                    <button class="wr-calendar-button" id="24"></button>
                                </div>
                                <div class="calendar-day" style="left: 76.21px">
                                    <button class="wr-calendar-button" id="25"></button>
                                </div>
                                <div class="calendar-day" style="left: 101.62px">
                                    <button class="wr-calendar-button" id="26"></button>
                                </div>
                                <div class="calendar-day" style="left: 127.02px">
                                    <button class="wr-calendar-button" id="27"></button>
                                </div>
                                <div class="calendar-day" style="left: 152.43px">
                                    <button class="wr-calendar-button" id="28"></button>
                                </div>
                            </div>
                            <div class="week-five">
                                <div class="calendar-day" style="left: 0px">
                                    <button class="wr-calendar-button" id="29"></button>
                                </div>
                                <div class="calendar-day" style="left: 25.40px">
                                    <button class="wr-calendar-button" id="30"></button>
                                </div>
                                <div class="calendar-day" style="left: 50.81px">
                                    <button class="wr-calendar-button" id="31"></button>
                                </div>
                                <div class="calendar-day" style="left: 76.21px">
                                    <button class="wr-calendar-button" id="32"></button>
                                </div>
                                <div class="calendar-day" style="left: 101.62px">
                                    <button class="wr-calendar-button" id="33"></button>
                                </div>
                                <div class="calendar-day" style="left: 127.02px">
                                    <button class="wr-calendar-button" id="34"></button>
                                </div>
                                <div class="calendar-day" style="left: 152.43px">
                                    <button class="wr-calendar-button" id="35"></button>
                                </div>
                            </div>
                            <div class="week-header">
                                <div class="week-days" style="left: 0px">M
                                </div>
                                <div class="week-days" style="left: 25.40px">T
                                </div>
                                <div class="week-days" style="left: 50.81px">W
                                </div>
                                <div class="week-days" style="left: 76.21px">T
                                </div>
                                <div class="week-days" style="left: 101.62px">F
                                </div>
                                <div class="week-days" style="left: 127.02px">S
                                </div>
                                <div class="week-days" style="left: 152.43px">S
                                </div>
                            </div>
                            <div class="month-year"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wr-day-section">
            <div class="day-inner-block">
                <div class="day-number-circle">
                    <div class="day-number"></div>
                </div>
                <div class="day-name"></div>
                <div class="holiday-box"></div>
                <div class="moon-phase"></div>
            </div>
            <div class="textarea-container">
                <div class="textarea-bg">
                    <div class="wl-tiptap"></div>
                </div>
            </div>
        </div>
    </div>
</div>